<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.construmovil.construmovil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".clients.ClientsActivity"
            android:label="@string/title_activity_clients"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".clients.ClientDetailActivity"
            android:label="@string/title_activity_client_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clients.AddEditClientActivity"
            android:label="@string/title_activity_add_edit_client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order.AddEditOrderActivity"
            android:label="@string/title_activity_add_edit_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".supplier.SupplierActivity"
            android:label="@string/title_activity_supplier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".supplier.SupplierDetailActivity"
            android:label="@string/title_activity_supplier_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".supplier.AddEditSupplierActivity"
            android:label="@string/title_activity_add_edit_supplier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.AddEditProductActivity"
            android:label="@string/title_activity_add_edit_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.AddEditCategoryActivity"
            android:label="@string/title_activity_add_edit_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".office.OfficeActivity"
            android:label="@string/title_activity_office"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".office.OfficeDetailActivity"
            android:label="@string/title_activity_office_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".office.AddEditOfficeActivity"
            android:label="@string/title_activity_add_edit_office"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="Ingresar"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="Constru-Movil"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>